body {
    background-color: #74b9ff;
    
}
.div {
    position: absolute;
    left: 35%; 
   
}
.form {
    margin: 25px;
}
.label {
    font-size: 28px;
    margin-right: 5px;
    
}
.input {
    font-size: 28px;
    margin-left: 5px;
    border: 2px solid;
    border-radius: 8px;
}

.users {
    position: absolute;
    left: 25%;   
    padding: 10px;
    margin: 25px;
}
.list {
    width: 300px;
    height: 125px;
    box-shadow: 5px 11px 4px #000;
    background-color: #0984e3;
}
.img{
    position: relative;
    left: 5%;
    top: 5%;
    margin-right: 5px;
    padding: 5px;
}
.link{
    position: relative;
    left: 5%;
    bottom: 35%;
    font-size: 24px;
    text-decoration: none;
    color: #fff;  
}
.link:visited {
    text-decoration: none;  
    color: #fff;
}
